# core lib dep
tensorflow==2.9.1
opencv-python==4.5.*
absl-py>=0.10
tqdm>=4.39.0

# test requirements
pytest==7.1.2
pytest-xdist==2.5.0
pytest-cov==3.0.0
coverage==6.4.2

# sanity requirements
yapf==0.32.0
pylint==2.14.5
docformatter==1.4
mypy==0.961
pycodestyle==2.8.0
isort==5.10.1
